music.frlabs.me {
	encode gzip

	handle /api/* {
		reverse_proxy host.docker.internal:8787
	}

	handle {
		root * /srv
		file_server
		try_files {path} /index.html
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
	}
}
